<div id="container-busca">
            <button class="fechar" onclick="Close()">x</button>
            <h2><i class="fas fa-search"></i> Busca de Clientes</h2>
            <form action="" method="post" class="busca">
                <input type="text" id="busca-clientes" name="busca-clientes" placeholder="Buscar cliente...">
                <button type="submit" class="buscar"><i class="fas fa-search"></i></button>
            </form>
            <div class="overflow">
                <table id="tabela-clientes">
                    <thead>
                        <tr>
                        <th>Cliente</th>
                            <th>Valor total</th>
                            <th>Status</th><!--Pago ou Pendente-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <!-- Iterar sobre os efetuados para popular a table-->
                        </tr>
                    </tbody>
                </table>
            </div>
</div>