<div id="container-efetuado">
            <button class="fechar" onclick="Close()">x</button>
            <h2><i class="fas fa-check"></i> Pagamentos Efetuados</h2>
            <div class="overflow">
                <table id="tabela-efetuados">
                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Valor total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <!-- Iterar sobre os efetuados para popular a table-->
                        </tr>
                    </tbody>
                </table>
            </div>
</div>