<div id="container-estoque">
            <button class="fechar" onclick="Close()">x</button>
            <h2><i class="fas fa-warehouse"></i> Estoque</h2>
            <form action="" method="post" class="busca">
                <input type="text" id="pesquisa-estoque" name="pesquisa-estoque" placeholder="Buscar bebidas...">
                <button type="submit" class="buscar"><i class="fas fa-search"></i></button>
            </form>
            <div class="overflow">
                <table id="tabela-estoque">
                    <thead>
                        <tr>
                            <th>Tipo </th>
                            <th>Bebida</th>
                            <th>Estoque</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <!-- Iterar sobre o estoque para popular a table
                            <td>Alcóolica</td>
                            <td>Vinho</td>
                            <td>30</td>-->
                        </tr>
                    </tbody>
                </table>
            </div>
</div>