

<div class="navigation">
        <nav class="nav-home" id="navigation-home">
            <button id="c-bebidas" onclick="cadastroBebidas()"><i class="fas fa-wine-bottle"></i>Cadastro de Bebidas</button>
            <button id="v-bebidas" onclick="vendasBebidas()"><i class="fas fa-shopping-cart"></i>Vendas de Bebidas</button>
            <button id="pagto" onclick="Pagamento()"><i class="far fa-credit-card"></i> Efetuar pagamento</button>
            <button id="pagto-p" onclick="Pendente()"><i class="far fa-clock"></i>Pagamentos Pendentes</button>
            <button id="pagto-e" onclick="Efetuado()"><i class="fas fa-check"></i>Pagamentos Efetuados</button>
            <button id="busca-c" onclick="Busca()"><i class="fas fa-search"></i>
                Busca de Clientes</button>
            <button id="todas-v" onclick="TVendas()"><i class="fas fa-chart-line"></i>Todas as Vendas</button>
            <button id="estoque-b" onclick="Estoque()"><i class="fas fa-warehouse"></i>Estoque</button>
        </nav>
        <button id="hamburger-menu" onclick="toggleNav()">&#9776;</button>
        <button id="close-menu" onclick="closeNav()">x</button>
</div>