<div id="container-pendente">
            <button class="fechar" onclick="Close()">x</button>
            <h2><i class="far fa-clock"></i> Pagamentos Pendentes</h2>
            <div class="overflow">
                <table id="tabela-pendentes">
                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Valor total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <!-- Iterar sobre os pendentes para popular a table-->
                        </tr>
                    </tbody>
                </table>
            </div>
</div>