<div id="container-tvendas">
            <button class="fechar" onclick="Close()">x</button>
            <h2><i class="fas fa-chart-line"></i> Todas as vendas</h2>
            <div class="overflow">
                <table id="tabela-tvendas">
                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Bebida</th>
                            <th>Tipo</th>
                            <th>Quantidade</th>
                            <th>Valor unitário</th>
                            <th>Valor total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <!-- Iterar sobre os clientes para popular a table
                            <td>Cliente 1</td>
                            <td>Vinho</td>
                            <td>Alcóolica</td>
                            <td>R$ 5,00</td>
                            <td>R$ 5,00</td>-->
                        </tr>
                    </tbody>
                </table>
            </div>
</div>