{% extends 'global/base.html' %}
{% load static %}

{% block content %}
    {% include 'venda/partials/menu.html' %}

    <main>
        <div class="container-right">
            <img src="{% static 'Images/alcohol-1961542_1280.jpg' %}" alt="bebidas" class="img-principal">
            <div class="name-logout">
                <!--colocar nesse p o nome do cadastro de quem esta logado-->
                <p id="nome-login"></p>
                <!--formulario para o cliente fazer logout-->
                <form action="" method="post" id="logout" onsubmit="return alertLogout()">
                    <button type="submit">x</button>
                </form>
            </div>
        </div>

        <div id="container-principal">
            
                <h1 class="titulo">Z Box Cross Club</h1>
                <div class="texto-principal">
                    <img src="{% static 'Images/logo.png' %}" alt="zbox" class="logo2">
                    <p class="paragrafo">Controle as vendas e o estoque do seu estabelecimento de maneira simples e eficaz.</p>
                    <p class="paragrafo">Cadastre bebidas.</p>
                    <p class="paragrafo">Insira as vendas.</p>
                    <p class="paragrafo">Confirme pagamentos.</p>
                    <p class="paragrafo">Verifique status de pagamento.</p>
                    <p class="paragrafo">Verifique seu estoque.</p>
                </div>
            
        </div>

        {% include 'venda/partials/cadastro.html' %}
        {% include 'venda/partials/vendas.html' %}
        {% include 'venda/partials/estoque.html' %}
        {% include 'venda/partials/pagamento.html' %}
        {% include 'venda/partials/pagamento_pendente.html' %}
        {% include 'venda/partials/efetuar_pagamento.html' %}
        {% include 'venda/partials/buscar_cliente.html' %}
        {% include 'venda/partials/todas_vendas.html' %}


    </main>


    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}
